@import "../../mixins";

.layout {
  &_space-h_s {
    padding-left: 32px;
    padding-right: 32px;

    @include mobile {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__container {
    margin-right: auto;
    margin-left: auto;

    &_size_s {
      max-width: 824px;
    }
  }
}
