@import "./../../mixins.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  font-size: var(--font-size-s);
  font-family: var(--font-family-yandex);
  border-radius: 4px;

  &_view_default {
    background-color: var(--default-bg-color);

    &:hover {
      background-color: var(--default-bg-color-hovered);
      cursor: pointer;
    }
  }

  &_view_accent {
    background-color: var(--accent-bg-color);

    &:hover {
      background-color: var(--accent-bg-color-hovered);
      cursor: pointer;
    }
  }

  &_view_clean {
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &_size_s {
    min-height: 28px;
    line-height: 28px;

    & .button__text {
      margin-left: 13px;
      margin-right: 13px;
    }
  }

  &_size_m {
    min-height: 36px;
    line-height: 36px;

    & .button__text {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  &_with-icon {
    & .button__text {
      margin-left: -3px;

      @include mobile {
        display: none;
      }
    }
  }
}
