$size: 50px;
$speed: 1.2s;
$barWidth: $size / 5;
$gapSize: $size / 10;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: inline-block;
    position: relative;
    width: $size;
    height: $size;
  }

  &__bar {
    display: inline-block;
    position: absolute;
    left: $gapSize;
    width: $barWidth;
    background: var(--default-bg-color);
    animation: facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

    &:nth-child(1) {
      left: $gapSize;
      animation-delay: -0.2 * $speed;
    }

    &:nth-child(2) {
      left: $gapSize * 4;
      animation-delay: -0.1 * $speed;
    }

    &:nth-child(3) {
      left: $gapSize * 7;
      animation-delay: 0s;
    }
  }
}

@keyframes facebook {
  0% {
    top: $size * 0.1;
    height: $size * 0.8;
  }

  50%,
  100% {
    top: $size * 0.3;
    height: $size * 0.4;
  }
}
