@import "./../../mixins.scss";

.header {
  &__title {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    letter-spacing: 0.25px;
    font-weight: 500;

    &_color_primary {
      color: var(--text-color-primary);
    }

    &_color_default {
      color: var(--text-color-link);
    }

    @include mobile {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xl);
    }
  }

  &__content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;

    @include mobile {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__actions {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
  }

  &__button {
    margin-left: 8px;
  }
}
